/* src/components/Navbar.css */

.navbar {
    display: flex;
    align-items: center;
    background-color: #000000;
    padding: 10px 20px;
  }
  
  .logo {
    height: 50px;
    margin-right: auto;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin-left: 20px;
  }
  
  .nav-links a {
    color: #FFFFFF;
    font-size: 18px;
    font-family: 'Lora', serif;
  }
  
  .nav-links a:hover {
    color: #C5B358;
  }
  